parameters:
    level: 6 #  you can currently choose from 9 levels (0 is the loosest and 8 is the strictest). 
    symfony:
        container_xml_path: var/cache/dev/App_KernelDevDebugContainer.xml
    paths:
        - src
        - tests
    checkGenericClassInNonGenericObjectType: false